/* Toast message */
.toast-box {
  top: 20px !important;
  right: 20px !important;
}

/* Image thumbnail */
.img-thumbnail {
  max-width: 50px;
  height: auto;
}

.image-medium {
  max-width: 250px;
  height: auto;
}
