ENVIRONMENT=dev  # [Options: dev, prod]
DB_URL=jdbc:postgresql://localhost:5432/your_database_name
DB_USERNAME=your_username
DB_PASSWORD=your_password
LOG_PATH=employee-management-system/logs

# File upload settings
UPLOAD_FOLDER=uploads
APP_UPLOAD_LOCATION=/var/www/foodapp
