spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  # Flyway configuration for production
  flyway:
    enabled: true                           # Enable Flyway
    locations: classpath:db/migration       # Migration files location
    baseline-on-migrate: true               # Create schema_history if not exists
    validate-on-migrate: true               # Validate migrations before run

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        '[format_sql]': false
