<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Layout Base</title>

  <th:block th:fragment="css_links">
    <!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" th:href="@{/css/adminlte/adminlte.css}" />

    <!--begin::Custom styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!--begin::Fonts-->
    <link rel="stylesheet" th:href="@{/css/fontsource/index.css}" />
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" th:href="@{/css/overlayscrollbars/overlayscrollbars.min.css}" />

    <!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.min.css}" />
  </th:block>
</head>

<body>

  <th:block th:fragment="js_scripts">
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" th:href="@{/js/overlayscrollbars/overlayscrollbars.browser.es6.min.js}" />

    <!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script th:src="@{/js/popperjs/popper.min.js}"></script>

    <!--begin::Required Plugin(Bootstrap 5)-->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

    <!--begin::Required Plugin(AdminLTE)-->
    <script th:src="@{/js/adminlte/adminlte.js}"></script>

    <!--begin:: Custom Scripts-->
    <script th:src="@{/js/sidebar-scroll.js}"></script>
    <script th:src="@{/js/toast.js}"></script>
  </th:block>
</body>

</html>
