<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Toast Messages</title>
</head>

<body>
  <div class="toast-container position-fixed toast-box" th:fragment="success_toast">
    <div th:if="${successMessage}" id="success-toast" class="toast align-items-center text-bg-success border-0"
      role="alert">
      <div class="d-flex">
        <div class="toast-body">
          <i class="bi bi-check-square-fill"></i>
          <span th:text="#{${successMessage}}"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed toast-box" th:fragment="failed_toast">
    <div th:if="${failedMessage}" id="failed-toast" class="toast align-items-center text-bg-danger border-0"
      role="alert">
      <div class="d-flex">
        <div class="toast-body">
          <i class="bi bi-exclamation-triangle-fill"></i>
          <span th:text="#{${failedMessage}}"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>
  </div>

</html>
