<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>New user page</title>
  <th:block th:replace="~{admin/layouts/static :: css_links}"></th:block>
</head>

<!--begin::App Wrapper-->
<div class="app-wrapper">
  <!--begin::Header-->
  <th:block th:replace="~{admin/layouts/header :: header}"></th:block>
  <!--end::Header-->
  <!--begin::Sidebar-->
  <th:block th:replace="~{admin/layouts/sidebar :: sidebar}"></th:block>
  <!--end::Sidebar-->
  <!--begin::App Main-->
  <main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6">
            <h3 class="mb-0">New user</h3>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
          <!--begin::Col-->
          <div class="col-md-9">
            <!--begin::Quick Example-->
            <div class="card card-primary card-outline mb-4">
              <!--begin::Header-->
              <!--end::Header-->
              <!--begin::Form-->
              <form th:action="@{/admin/users/new}" th:object="${user}" method="post" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">
                  <div class="mb-3">
                    <label for="fullName" class="form-label fw-bold">
                      Full Name <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" th:field="*{fullName}" placeholder="Input full name" />
                    <div th:if="${#fields.hasErrors('fullName')}" class="error-detail">
                      <span th:errors="*{fullName}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" th:field="*{email}" placeholder="Input email" />
                    <div th:if="${#fields.hasErrors('email')}" class="error-detail">
                      <span th:errors="*{email}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3 ">
                    <label for="password" class="form-label fw-bold">Password <span class="text-danger">*</span></label>
                    <div class="input-group w-50" id="group-show-pw">
                      <input type="password" class="form-control w-50" th:field="*{password}"
                        placeholder="Input password" />
                      <button type="button" class="btn btn-outline-secondary" id="btn-show-pw">
                        <i class="bi bi-eye-slash"></i>
                      </button>
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" class="error-detail">
                      <span th:errors="*{password}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="age" class="form-label fw-bold">Age </label>
                    <input type="number" class="form-control" th:field="*{age}" placeholder="Input age" />
                    <div th:if="${#fields.hasErrors('age')}" class="error-detail">
                      <span th:errors="*{age}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="role" class="form-label fw-bold">Role <span class="text-danger">*</span></label>
                    <select class="form-select" th:field="*{roleId}">
                      <option value="">Choose...</option>
                      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('roleId')}" class="error-detail">
                      <span th:errors="*{roleId}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="authProvider" class="form-label fw-bold">Auth Provider <span
                        class="text-danger">*</span></label>
                    <select class="form-select" th:field="*{authProviderId}">
                      <option value="">Choose...</option>
                      <option th:each="provider : ${authProviders}" th:value="${provider.id}"
                        th:text="${provider.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('authProviderId')}" class="error-detail">
                      <span th:errors="*{authProviderId}" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="avatar" class="form-label fw-bold">Avatar</label>
                    <input type="file" class="form-control" th:field="*{avatarFile}" accept="image/*" />
                    <div th:if="${#fields.hasErrors('avatarFile')}" class="error-detail">
                      <span th:errors="*{avatarFile}" class="text-danger"></span>
                    </div>
                  </div>
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!--end::Footer-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Quick Example-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>
  <!--end::App Main-->
  <!--begin::Footer-->
  <th:block th:replace="~{admin/layouts/footer :: footer}"></th:block>
  <!--end::Footer-->
</div>
<!--end::App Wrapper-->
<!--begin::Script-->
<!--begin::Third Party Plugin(OverlayScrollbars)-->
<th:block th:replace="~{admin/layouts/static :: js_scripts}"></th:block>
<script th:src="@{/js/hide-show-pass.js}"></script>
<!--end::OverlayScrollbars Configure-->
<!-- OPTIONAL SCRIPTS -->
<!-- sortablejs -->
<!--end::Script-->
</body>

</html>
